@charset "utf-8";

* {
	-webkit-text-size-adjust: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, app, info, name, dialog, embed, figure, figcaption, social, footer, header, hgroup, menu, nav, output, ruby, section, person, content, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background-color: transparent;
}

article, aside, details, app, info, name, figcaption, figure, social, footer, header, hgroup, menu, nav, section, person, content {
	display: block;
}

html {
	-webkit-font-smoothing: antialiased;
	-khtml-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	background: #ffffff;
	color: #000000;
	font-family: system, -apple-system, -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.5em;
}

div.courses {
	display: inline-block;
}

div.separator {
	background: #040080;
	height: 3pt;
}

div.blocks {
	display: inline-block;
}

div.block:not(:last-child) {
	margin-bottom: 20pt;
}

div.block>h1 {
	padding: 3pt 6pt;
	background: #040080;
	color: #ffffff;
	font-size: 16pt;
}

div.course {
	width: 479pt;
	font-size: 12pt;
}

a.class {
	display: block;
	color: #000000;
	text-decoration: none;
}

div.course>h1,
div.course>p,
div.course>.title>div,
div.course>.class>div {
	padding: 0 3pt;
}

div.course>h1 {
	background: #fff0ff;
	font-size: 14pt;
}

div.course>p {
	padding-bottom: 3pt;
	background: #fff0ff;
	font-size: 10pt;
	line-height: 1.2em;
}

div.course>*>div {
	display: inline-block;
}

div.course>div.title {
	background: #e7e7e7;
	font-weight: 500;
}

div.course>div.class:nth-of-type(even),
div.course>a.class:nth-of-type(odd) {
	background: #d5e5ff;
}

div.course>div.class:nth-of-type(even)>div:nth-child(even),
div.course>a.class:nth-of-type(odd)>div:nth-child(even) {
	background: #ffffcc;
}

div.course>div.class:nth-of-type(odd),
div.course>a.class:nth-of-type(even) {
	background: #ddeeff;
}

div.course>div.class:nth-of-type(odd)>div:nth-child(even),
div.course>a.class:nth-of-type(even)>div:nth-child(even) {
	background: #ffffff;
}

div.course>div.class:hover:nth-of-type(n)>div,
div.course>a.class:hover:nth-of-type(n)>div {
	background: #68a5fa;
	color: #ffffff;
}

div.course>div.class.selected:nth-of-type(n)>div,
div.course>a.class.selected:nth-of-type(n)>div {
	background: #2f83fa;
	color: #ffffff;
}

div.course>*>div.code {
	width: 45pt;
}

div.course>*>div.type {
	width: 30pt;
}

div.course>*>div.sec {
	width: 25pt;
}

div.course>*>div.instructor {
	width: 120pt;
}

div.course>*>div.days {
	width: 60pt;
}

div.course>*>div.time {
	width: 92pt;
}

div.course>*>div.time>span {
	display: inline-block;
}

div.course>*>div.time>span.start,
div.course>*>div.time>span.end {
	width: 34pt;
	text-align: right;
}

div.course>*>div.time>span.meridiem {
	width: 8pt;
}

div.course>*>div.time>span.sep {
	width: 8pt;
	text-align: center;
}

div.course>*>div.place {
	width: 65pt;
}
